.main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
}

.table {

    table-layout:initial;   
    border-collapse:collapse;
    order:2;
    margin: 20px;
    border: var(--borders);

    &__tbody-iconos{
        visibility: collapse;
        opacity: 0;
        transition: 1s;
    }

    /* TABLE TR */
        /*ELEMENTO 2*/
        &-tr {
            background-color: #71C9CE;
            font-weight: bolder;
            text-align: center;
            height: 68px;   
    
            &:nth-child(even){
                background-color: #96d3d6;
            }
        
            &:hover{
                background-color: #6ac6eb;
    
                .table__tbody-iconos {
                    visibility: visible;
                    background: #130f40;
                    opacity: 1;
                    Transition: opacity .3s; 
                }
            }
        }

    
/* TABLE TBODY */

    &__tbody {

        &-descripcionmed{
            max-width: 25em;
        }

        &-fechamed{
            max-width: fit-content;
        }

        &-tipomed{
            max-width: 11.250em;
        }

        &-nombremed{
            max-width: 7.5em;
        }
}

/* TABLE TH-TD */

    &-th {
        border-bottom: #000 solid 0.1em;
        font-weight: bolder;
        font-size: 1.3em;
        padding-top: 0.2em;
        padding-bottom: 0.2em;
        text-align:center;
        background-color: var(--backgrounds-colors);
    }

    &-td {
        padding-left: 1.1em;
        padding-right: 1.1em;
    }

    &-iconos{
        display: flex;
        flex-direction: column;
        width: 0;
        
    }
    
    &-icon {
        padding: 5px;
        margin: 3px;
        margin-left: 2px;
        border: var(--borders);
        border-radius: 50%;
        background-color: var(--backgrounds-colors);
        color: #000;
    }



}


.formulario{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 25em;
    height: 33em;
    margin-top: 20px;
    padding: 0.5em;
    border: var(--borders);
    border-radius: 0.6em;
    background-color: var(--backgrounds-colors);
    order: 1;
    gap: 1.2em;

    &-titulo {
        font-size: 2em;
        text-decoration: none;
    }
    
    &__inputContainer {
        position: relative;
        width: 20em;
        height: 3em;

        &-label {
            position: absolute;
            top: 15px;
            left: 7px;
            color: #DADCE0;
            padding-left: 13px;
            font-size: 16px;
            z-index: 40;
            -webkit-transition: .6s ease top, .6s ease opacity;
            transition: .6s ease top, .6s ease opacity;
        }
        
        &-input {
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            border: 3px solid #800080;
            border-radius: 7px;
            font-size: 16px;
            padding: 15px;
            outline: none;
            background: #f1f1f1;
            z-index: 1;

            &::placeholder{
                color: transparent;
            }

            &:focus{
                border: var(--borders);
            }

            &:focus + .formulario__inputContainer-label{
                top: 15px;
                left: 5px;
                z-index: 10;
                font-size: 14px;
                font-weight: 600;
                color: purple;
            }
            
            &:not(:placeholder-shown)+ .formulario__inputContainer-label{
                top: -18px;
                z-index: 0;
                font-size: 14px;
                font-weight: 600;
                color: rgba(128, 0, 128, 0.459);
            }

        }
        
        &-textarea{
            height: 6em;
            background-color:#f6f6f6;
            resize:none;
        }    
    }

    &-submit {
        width: 100%;
        padding: 0.5em 1em;
        margin:auto;
        margin-top: 50px;
        border:1px solid #000;
        border-radius: 7px;
        color:#fff;
        background-color:#000;
        font-size: 1.2em;
        font-weight: 600;


        &:hover{
            transform: translateY(-2px);
            border: var(--borders);
        } 
    }
    
}


/* a fecha de vencimiento puedo camuflarla con el background color y luego hacerla aparecer cuando haya un focus o algo asi en el campo particular*/
