@import 'variables';
@import 'normalize';
@import 'navbar';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}

.formulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: $backgrounds-colors;
    border-radius: 0.6em;
    border: $borders;
    height: 35em;
    width: 25em;
    padding: 20px;

    
    &-img{
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }

    &__div{
        position: relative;
        width: 23em;
        height: 4em;
        margin: 10px;
        ;

        &-label{
            position: absolute;
            top: 23px;
            left: 15px;
            padding: 0 4px;
            color: #DADCE0;
            font-size: 16px;
            z-index: 40;
            -webkit-transition: .6s ease top, .6s ease opacity;
            transition: .6s ease top, .6s ease opacity;
        }

        &-input{
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            width: 100%;
            border: solid 2px #800080;
            border-radius: 7px;
            font-size: 16px;
            padding: 15px;
            outline: none;
            background: #f1f1f1;
            z-index: 1;

            &::placeholder{
                color: transparent;
            }
        
            &:focus{
                border: solid 3px #800080;
            }
                
            &:focus + .formulario__div-label {
                /*lo leo como: cuando haya foco en el input: realizar lo siguiente en el label*/
                top: 8px;
                left: 13px;
                z-index: 10;
                font-size: 14px;
                font-weight: 600;
                color: #800080;
            }
            
            &:not(:placeholder-shown)+ .formulario__div-label {
                top: -17px;
                z-index: 0;
                font-size: 14px;
                font-weight: 600;
                color: rgba(128, 0, 128, 0.459);
                
            }
      
        }

    }

    &__checkbox {
        margin: 1em;

        &__label {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 6px;

            &-check{
                width: 1rem;
                height: 1rem;     
            }
        }
    }
} /* cierra el formulario */

.button{
        width: 8em;
        height: 2em;
        margin-bottom: 1em;
        border: 3px solid #000;
        border-radius: 0.6em;
        &:hover{
            transform: translateY(-2px);
            outline: $borders;
        }
}
    
.credits{
        position: relative;
        font-size: .8em;
        opacity: 0.5;
        top: 15px;
        right: 120px;
}
