@import 'variables';
@import 'normalize';
@import 'navbar';

body{
    height: 100%;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.formulario{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: $borders;
    border-radius: 0.6em;
    background-color: $backgrounds-colors;
    height: 40em;
    width: 25em;
    padding: 20px;

    &-logo{
        height: 5em;
        width: 5em;
        border-radius: 50%;
    }

    &-titulo{
        margin: 0;
    }

    &__inputContainer{
        position: relative;
        height: 4em;
        width: 18em;

        &-label{
            position: absolute;
            top: 15px;
            left: 15px;
            padding: 0 4px;
            color: #DADCE0;
            font-size: 16px;
            z-index: 40;
            -webkit-transition: .6s ease top, .6s ease opacity;
            transition: .6s ease top, .6s ease opacity;
        }

        &-input{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: solid 2px #800080;
            border-radius: 7px;
            padding: 13px;
            outline: none;
            background: #f1f1f1;
            z-index: 1;

            &::placeholder{
                color: transparent;
            }

            &:focus{
                border: 3px solid #800080;
            }

            &:focus + .formulario__inputContainer-label{
                top: 8px;
                left: 13px;
                font-size: 14px;
                font-weight: 600;
                z-index: 20;
                color: #800080;
            }

            &:not(:placeholder-shown)+ .formulario__inputContainer-label{
                top: -18px;
                color: rgba(128, 0, 128, 0.459);
            }

        }


    }

    &__checkbox{
        display: flex;
        align-items: center;
        align-items: center;
        gap: 5px;

        &-box{
            height: 15px;
            width: 15px;
        }

        &-a{
            text-decoration: none;
            color: #000000;

            &:hover{
                border-bottom: 3px solid #800080;
                border-radius: 3px;
                font-weight: bolder;
            }
        }
    }
}


.enviar{
    width: 8em;
    height: 3em;
    margin-bottom: 1em;
    border: 3px solid #000;
    border-radius: 0.6em;
    &:hover{
        transform: translateY(-2px);
        outline: $borders;
    }
}

